include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include ROADMAP.md
recursive-include configs *.yaml
recursive-include docs *.md
recursive-include examples *.py
recursive-include requirements *.txt
recursive-include scripts *.py *.sh
